.contactWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text {
  font-size: 22px;
  color: black;
  text-transform: capitalize;
}
.number{
  font-size: 22px;
  color: black;
}
.button {
  width: 100px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
}

.button:hover,
.button:focus {
  scale: 1.1;
  border: 2px solid rgb(121, 193, 208);
  box-shadow: 3px 2px 2cqh rgb(83, 125, 133);
}
.icon {
  margin-right: 5px;
}
